<div>

<h2>Acceso</h2>

    <form action="/auth/login" method="post">

        <label for="username">Nombre de Usuario</label>
        <input type="text" name="username">
        <br>
        <label for="password">Contraseña</label>
        <input type="password" name="password">
        <br>
        
        <p>{{this.errorMenssage}}</p>

        <button>Acceder</button>


    </form>

</div>